<% if 1 == 1 %>
  <div class="authform">
    <div class="alert alert-info" role="alert">No momento o sistema não está permitindo novos cadastros desta forma.</div>
    <%= link_to "Voltar", home_index_path, class: 'left' %>
  </div>
<% else %>

  <div class="authform">

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
      <h3>SIAVE/AP - Cadastro</h3>
      <%= render 'layouts/messages' %>
      <br/>
    
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= link_to 'Login', new_session_path(resource_name), class: 'right'  %>
        <%= f.label :name, "Nome" %>
        <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :cpf, "Cpf" %>
        <%= f.text_field :cpf, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :email, "E-mail" %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      <fieldset class="fieldsetcomborda">
      <p><strong>* Deixe estes campos em branco se você não quiser alterar sua senha.</strong></p>
      <%= f.input :password, :label=>"Nova Senha", autocomplete: "off", hint: "deixe em branco se você não quer mudá-lo", required: false %>
      <%= f.input :password_confirmation, :label=>"Confirmar Nova Senha", required: false %>
        
    </fieldset>    
    
    

    <%= f.input :current_password, :label=>"Senha Atual", hint: "precisamos de sua senha atual para confirmar as alterações", required: true %>
       <%= f.submit 'Cadastrar', :class => 'button right' %>
    <% end %>
  </div>

<% end %>
