<%= simple_form_for(@desdobramento) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :descricao %>

    <%= f.input :tipo, collection: @lista_tipos, as: :select, :include_blank => true, :input_html => {:value => (@desdobramento.tipo if @desdobramento.tipo)} %>
    
    <div id="atributos_tipo">
      
      <%if @desdobramento.tipo and @desdobramento.tipo=="Ocorrencia"%>
        <%= f.input :tipo_ocorrencia_id, collection: TipoOcorrencia.order([:descricao]), :label=>"Tipo de Ocorrência", label_method: :descricao, value_method: :id, include_blank: true, :input_html => {:value => (@desdobramento.tipo_ocorrencia if @desdobramento.tipo_ocorrencia)} %>
      <%else%>
        <%= f.input :tipo_agressor_id, collection: TipoAgressor.order([:descricao]), :label=>"Tipo de Agressor", label_method: :descricao, value_method: :id, include_blank: true, :input_html => {:value => (@desdobramento.tipo_agressor.descricao if @desdobramento.tipo_agressor)} %>
      <%end%>
      
      
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit, :class=>'btn btn-primary' %>
    <%= link_to 'Voltar', desdobramentos_path, :class=>'btn btn-default' %>
  </div>
<% end %>
