<%= simple_form_for(@tipo_desdobramento) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :descricao %>
   	<%= f.association :desdobramento, collection: Desdobramento.order([:descricao]), :label=>"Desdobramento", label_method: :descricao, value_method: :id, include_blank: false %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, :class=>'btn btn-primary' %>
    <%= link_to 'Voltar', tipo_desdobramentos_path, :class=>'btn btn-default' %>
  </div>
<% end %>

