<% content_for :titulo do %>
  <h4>
    <strong>
      Novo Usuário <%= link_icone('novo') %>
    </strong>
  </h4>
<% end %>

<%= simple_form_for @usuario, :url=>usuarios_path do |f| %>

	<%= f.input :name, :label=>"Nome" %>

  <%= f.input :cpf %>
  
  <%= f.input :email, :input_html => {:class=>"input-xxlarge", :required=>true} %>

  <%= 
    #f.association :escola, collection: Escola.order([:nome]), :label=>"Escola", label_method: :nome, value_method: :id, include_blank: true 
  %>


  <%= f.input :escola_nome, :url => autocomplete_escola_nome_usuarios_path, :as => :autocomplete, :id_element => "#escola_id" ,:input_html=>{:value=>(@usuario.escola.nome if @usuario.escola)}%>

  <%= f.input :escola_id, :as => :hidden, :input_html => { :id => "escola_id"} %>

  <%=
    #f.text_field :nome_escola, data: {autocomplete_source: Escola.order(:nome).map(&:nome)} 
  %>

  <%= 
    #f.input :nome_escola, data: {autocomplete_source: Escola.order(:nome).map(&:nome)} 
  %>
    
  <% if can? :manage, Role %>
    <%= f.input :role_ids, :label=>"Permissões", :collection=>Role.accessible_by(current_ability).order('nome ASC').collect {|d| [d.nome, d.id]}, as: :check_boxes %>
  <% end %>
  
  <p class="text-danger">Atenção: A senha gerada sera: "12345678"</p>
  <p class="text-info">Apos o primeiro login o usuario sera redirecionado e solicitado a mudar sua senha. <br/>Apos mudar sua senha o usuario tera que efetuar novamente o login.</p>

  <%= f.input :password, :as => :hidden, :input_html => {value: "mudarsenha"} %>
  <%= f.input :password_confirmation, :as => :hidden, :input_html => {value: "mudarsenha"} %>

  <div class="form-actions">
    <%= f.button :submit, 'Criar Usuário', :class => 'btn btn-primary' %>
    <%= link_to 'Voltar', usuarios_path, :class=>'btn btn-default' %>
  </div>

<% end %>