<%= simple_form_for(@ocorrencia) do |f| %>
  <%= f.error_notification %>

  <div id="notice">

  </div>

  <div class="form-inputs">

    <%= f.input :local_ocorrencia, collection: @lista_locais.sort, :label=>"Local da Ocorrência", include_blank: true %>  

    <%= f.input :data_ocorrencia, :label=>"Data da Ocorrência" %>

    <%= f.input :horario_aproximado, :label=>"Horario Aproximado da Ocorrência", include_blank: true %>

    <div class="pull-right">
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModalTipoOcorrencia">
        Lista de Tipo de Ocorrencias
      </button>
    </div>

    <%= f.input :tipo_desdobramento_ocorrencia_nome, :label=>"Selecione o Tipo de Ocorrência", :url => autocomplete_tipo_desdobramento_ocorrencia_nome_ocorrencias_path, :as => :autocomplete, :id_element => "#tipo_desdobramento_ocorrencia_id" ,:input_html=>{:value=>(@ocorrencia.tipo_desdobramento_ocorrencia.descricao if @ocorrencia.tipo_desdobramento_ocorrencia)}%>
    
    <%= f.input :tipo_desdobramento_ocorrencia_id, :as => :hidden, :input_html => { :id => "tipo_desdobramento_ocorrencia_id"} %>

    <%= f.input :observacoes, :label=>"Observações" %>


    <div class="row">
      <div class="col-md-12">
        <div class="row">

          <div class="col-md-6">
            <%= f.input :agredido_nome, :label=>"Selecione a Pessoa Agredida", :url => autocomplete_pessoa_nome_ocorrencias_path, :as => :autocomplete, :id_element => "#agredido_id" ,:input_html=>{:value=>(@ocorrencia.agredido.nome if @ocorrencia.agredido)}%>

            <%= f.input :agredido_id, :as => :hidden, :input_html => { :id => "agredido_id"} %>   
          </div>
          <div class="col-md-6">
            <%= f.input :agressor_nome, :label=>"Selecione o Agressor", :url => autocomplete_pessoa_nome_ocorrencias_path, :as => :autocomplete, :id_element => "#agressor_id" ,:input_html=>{:value=>(@ocorrencia.agressor.nome if @ocorrencia.agressor)}%>

            <%= f.input :agressor_id, :as => :hidden, :input_html => { :id => "agressor_id"} %>
          </div>
        </div>

        <%= link_to link_icone2('nova', 'Cadastrar Pessoa'), '#myModal', :class=> 'btn btn-success', :title=>"Nova Pessoa", :'data-toggle'=>"modal", :'data-target'=>"#myModal"  %>  


      </div>

    </div>

    <br/>

    <div class="pull-right">
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModalTipoAgressor">
        Lista de Tipo de Agressores
      </button>
    </div>

    <%= f.input :tipo_agressor_nome, :label=>"Selecione o Tipo de Agressor", :url => autocomplete_tipo_agressor_nome_ocorrencias_path, :as => :autocomplete, :id_element => "#tipo_agressor_id" ,:input_html=>{:value=>(@ocorrencia.tipo_agressor.descricao if @ocorrencia.tipo_agressor)}%>

    <%= f.input :tipo_agressor_id, :as => :hidden, :input_html => { :id => "tipo_agressor_id"} %>

    <%= f.input :sob_influencia, collection: @lista_influencias, as: :select, :include_blank => true %>

    <%= f.association :encaminhamento, collection: Encaminhamento.order([:descricao]), :label=>"Encaminhamento", label_method: :descricao, value_method: :id, include_blank: true %>

  </div>

  <% if @ocorrencia.user_id.blank? %>
    <%= f.input :user_id, as: :hidden, :input_html=>{:value=>current_user.id} %>
    <%= f.input :escola_id, as: :hidden, :input_html=>{:value=>current_user.escola_id} %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, :class=>'btn btn-primary' %>
    <%= link_to 'Voltar', ocorrencias_path, :class=>'btn btn-default' %>
  </div>
<% end %>


<!-- Modal -->
<div class="modal fade" id="myModalTipoOcorrencia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Tipos de Ocorrencias Cadastradas</h4>
      </div>
      <div class="modal-body">
        <ol>
          <% @ocorrencias_cadastradas.each do |o| %>
            <li><%= o.descricao %></li>
          <% end %>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="myModalTipoAgressor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Tipos de Agressores Cadastrados</h4>
      </div>
      <div class="modal-body">
        <ol>
          <% @agressores_cadastrados.each do |a| %>
            <li><%= a.descricao %></li>
          <% end %>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= render "form_pessoa" %>
</div>