<ul class="list-unstyled">
  <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#userMenu">
    <h5><i class="glyphicon glyphicon-menu-hamburger"></i> Menu </h5>
    </a>
      <ul class="list-unstyled collapse in" id="userMenu">
          <% if user_signed_in? %>
      		  <li><a href="<%= authenticated_root_url %>"><i class="glyphicon glyphicon-home"></i> Home</a></li>
          
          <% else %>
            <li><a href="<%= unauthenticated_root_url %>"><i class="glyphicon glyphicon-home"></i> Home</a></li>
          <% end %>
          <li> <a href="<%=usuarios_path%>"><i class="glyphicon glyphicon-user"></i> Usuários</a></li>
          <li> <a href="<%=pessoas_path%>"><i class="glyphicon glyphicon-user"></i> Pessoas</a></li>
          <li> <a href="<%=escolas_path%>"><i class="glyphicon glyphicon-home"></i> Escolas</a></li>
          <li> <a href="<%=ocorrencias_path%>"><i class="glyphicon glyphicon-bullhorn"></i> Ocorrências</a></li>
          <li> <a href="<%=encaminhamentos_path%>"><i class="glyphicon glyphicon-file"></i> Encaminhamentos</a></li>
          <li> <a href="<%=tipo_ocorrencias_path%>"><i class="glyphicon glyphicon-ok"></i> Tipo Ocorrências</a></li>
          <li> <a href="<%=tipo_agressores_path%>"><i class="glyphicon glyphicon-ok"></i> Tipo Agressores</a></li>
          <li> <a href="<%=desdobramentos_path%>"><i class="glyphicon glyphicon-ok"></i> Desdobramentos</a></li>
          <li> <a href="<%=tipo_desdobramentos_path%>"><i class="glyphicon glyphicon-ok"></i> Tipo Desdobramentos</a></li>
          
      
      </ul>
  </li>
  
</ul>
